# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
*.egg-info/
.pytest_cache/
.coverage

# Virtual Environment
.venv/
venv/

# Python packaging
*.egg-info/
dist/
build/
.eggs/

# Pytest
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Databricks
.dbx/

# Spark
spark-warehouse/
.metastore_db/

# Logs
*.log

# Temporary
*.tmp
*.swp